@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

html {
    /*background-color: var(--background-color);*/
}

:root {
    --text-color: #D9D9D9;
    --white-color:#FFF;
    --background-color:#000;
}

section {  
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 1;
}

.header .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    margin-left: 5%;
}

.header .navbar a {
    color: var(--text-color);
    white-space: nowrap;
}

.header .logo {
    margin: 1rem 0rem 0rem 2.5rem;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: gold;
}

.main-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.main-container .content h1 {
    font-size: 120px;
    font-weight: 700;
    flex-shrink: 0;
    color: var(--white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Playfair Display;
    font-size: 120px;
    font-weight: 700;
    line-height: 100%; /* 120px */
    margin-bottom: 40px;
}

.main-container .content p {
    flex-shrink: 0;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 48px;
}

.main-container .content .btn {
    width: 147px;
    display: inline-flex;
    padding: 14px 21px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-color);
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
    border: 1px solid var(--white-color);
    backdrop-filter: blur(2px);
}

.footer {
    background-color: aqua;
}

.footer .swiper {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .swiper  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .swiper  .swiper-wrapper .swiper-slide {
    width: 275px;
    height: 182.8px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.75);
}

.footer .swiper  .swiper-wrapper .swiper-slide h6 {
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}